* {
  margin: 0;
  padding: 0;
  font-family: 'NTR', sans-serif;
  font-size: 1.19rem;  

  

}

.ProductCard{
  min-height: 100%;

}

.color-nav{
  background-color: #1B2021;

}


.jumbotron {
  background-image: url(https://images.pexels.com/photos/163143/sackcloth-sackcloth-textured-laptop-ipad-163143.jpeg?auto=compress&cs=tinysrgb&w=1600);

  background-size: cover;
  height: 60vh;
  color: white;
}

